# IDE directories.
.idea/
.vscode/

# Build artifacts.
target/

# The built example project.
example/target/

# Binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries built with `go test -c`.
*.test