<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.Meta.Title}}</title>
        <meta name="author" content="{{.Meta.Author}}" />
        <meta name="description" content="{{.Meta.Description}}" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/generated/css/startpage.css" />
    </head>
    <body>
        <main>
            <h1>{{.Page.Title}}</h1>
            <h4>{{.Page.Description}}</h4>

            {{if .Page.Img}}
                <img src="{{.Page.Img}}" alt="{{.Page.Title}}" />
                <p><small>Image: {{.Page.Credit}}</small></p>
            {{end}}

            {{if .Page.Date}}
                <p>Posted on {{.Page.Date.Format "Jan 2 2006"}}</p>
            {{end}}

            {{.Page.Content}}
            <hr>
            {{range $page := .Pages}}
                <div>
                    <h3>{{$page.Title}}</h3>
                    <p><small>Posted on {{$page.Date.Format "Jan 2 2006"}}</small></p>
                    <p>{{$page.Description}}</p>
                    <p><a href="{{$page.Href}}">read post</a></p>
                </div>
            {{end}}
        </main>
    </body>
</html>